html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
    color: #394E61;
}

#container {
    height: 100%;
    width: 100%;
    background-color: #eee;
    display: flex;
    flex-direction: column;
}


@media screen and (min-width: 1751px) {
    header {
    	flex: 3;
    	width: 100%;
    	height: 100%;
	}

	#map {
		width: 80%;
		height: 80%;		
		margin-right: auto;
		margin-left: auto;
		margin-top: 20px;
	}

	main {
        flex: 1;
        height: 100%;
        width: 100%;
    }

    section {
    	width: 80%;
    	display: flex;
    	flex: row;
    	margin-right: auto;
		margin-left: auto;
		justify-content: space-between;
    }

    #informatie {
    	width: 80%;
    	display: flex;
    	flex-direction: row;
    	margin-top: 10px;
    	margin-right: auto;
		margin-left: auto;
    }
    .icons > img {
    	vertical-align: middle;
    }

    .icons {
    	padding: 20px;
    	margin-right: 20px;
    	background: #17263c;
    	color:#eee;
    }

    .forecastMessage {
    	display: flex;
    	flex: 2;
    	flex-direction: row;
    	 flex-wrap: wrap;
    	width: 50%;
    }
    .forecastMoment {
    	background: #17263c;
    	min-width: 10%;
    	padding: 20px;
    	text-align: center;
    	color: #eee;
    	margin-right: 2%;
    }
    #datum {
    	flex: 1;
    }
  	
  	#omstreken {
  		flex: 1 0 100%;
  	}

  	form {
  		width: 50%;
  	}

  	fieldset {
		border: none;
		width: 100%;
		margin: 0;
		padding: 0;
  	}

   	#city {
  		width: 100%;
  	}

  	#getWeather {
  		width: 50%;
  		margin-top:  20px;
  		padding: 5%;
  		border: none;
  		background: #17263c;
  		color: #eee;
  	}
  	#getWeather:hover {
  		background: #707782;
  		cursor: pointer;
  	}
}

@media screen and (min-width: 768px) and (max-width: 1750px) {
    #container {
        height: 100%;
        width: 100%;
        background-color: #eee;
        display: flex;
        flex-direction: column;
    }
    header {
        width: 100%;
        flex: 1;
    }
    
    main {
        flex: 1;
        width: 100%;
        height: 100%;
    }  
}

@media screen and (min-width: 376px) and (max-width: 767px) {
    #container {
        height: 100%;
        width: 100%;
        background-color: #eee;
        display: flex;
        flex-direction: column;
    }
    header {
        width: 100%;
        flex: 1;
    }
}

@media screen and (max-width: 375px) {
    #container {
        height: 100%;
        width: 100%;
        background-color: #eee;
        display: flex;
        flex-direction: column;
    }
    header {
        width: 100%;
        flex: 1;
    }
    main {
        flex: 1;
        width: 100%;
        height: 100%;
    }
}